* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  padding: 10px 25px;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.button {
  width: 15%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#result-image {
  max-width: 200px;
  margin-top: 20px;
  float: right;
}
